<br><h2>Create a New Recipe</h2>

<form action="/recipes" method="POST">
  <!-- Recipe Name -->
  <div class="field">
    <h4><label class="label" for="name">Recipe Name</label></h4>
    <div class="control">
      <input class="input is-small" id="name" type="text" name="recipe[name]">
    </div>
  </div>
  <br>
  <!-- Recipe Course -->
  <div class="field">
    <h4><label>Recipe Course</label></h4>
    <div class="control">
      <% Course.all.each do |course| %>
        <label for="<%= course.name %>"><%= course.name %></label>
        <input id="<%= course.name %>" type="radio" name="recipe[course_id]" value="<%= course.id %>">
        <br>
      <% end %>
    </div>
  </div>
  <!-- Recipe Description -->
  <div class="field">
    <h4><label class="label" for="description">Recipe Description</label></h4>
    <div class="control">
      <textarea class="textarea" id="description" name="recipe[description]" placeholder="optional"></textarea>
    </div>
  </div>
  <br>
  <!-- Recipe Image URL -->
  <div class="field">
    <h4><label class="label" for="image_url">Recipe Image URL</label></h4>
    <div class="control">
      <input class="input is-small" id="image_url" type="text" name="recipe[image_url]" placeholder="optional">
    </div>
  </div>
  <br>
  <!-- Recipe Total & Cook Times -->
  <div class="field is-grouped is-grouped-centered">
    <div class="control">
      <table class="table">
        <tr>
          <th><h4>Total Time</h4></th>
          <th><h4>Cook Time</h4></th>
        </tr>
        <tr>
          <td><input class="input is-small" id="total_time" type="text" name="recipe[total_time]"></td>
          <td><input class="input is-small" id="cook_time" type="text" name="recipe[cook_time]"></td>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <!-- Recipe Ingredients -->
  <div class="field">
    <label class="label"><h2>Ingredients</h2></label>
  </div>
  <div class="field is-grouped is-grouped-centered">
    <div class="control">
      <table class="table">
        <% 10.times do %>
          <tr>
            <td>
              <label for="ingredient_name">Name </label>
              <input class="input is-small" id="ingredient_name" type="text" name="recipe[ingredients][][name]">
            </td>
            <td>
              <label for="ingredient_amount">Amount </label>
              <input class="input is-small" id="ingredient_amount" type="text" name="recipe[ingredients][][ingredient_amount]">
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <p class="help is-danger">More ingredients can be added by editing the recipe.</p>
  <!-- Recipe Instructions -->
  <div class="field">
    <label class="label" for="instructions"><h2>Instructions</h2></label>
    <div class="control">
      <textarea class="textarea" id="instructions" name="recipe[instructions]"></textarea>
    </div>
  </div>
  <!-- Create Recipe Button -->
  <div class="field">
    <div class="control">
      <input class="button is-success is-small is-fullwidth" type="submit" value="Create Recipe"></center>
    </div>
  </div>
</form>
