<form action="/recipes/new" method="POST">
  <br><br>
  <p>
    <label for="ingredient_num">How many ingredients does the recipe have?</label>
    <input id="ingredient_num" type="text" name="num">
    <input type="submit" name="" value="Continue">
  </p>
</form>
