<form action="/recipes/new" method="POST">
  <br>
  <div class="field">
    <h4><label for="ingredient_num">How many ingredients does the recipe have?</label></h4>
    <div class="control">
      <input class="input is-small" id="ingredient_num" type="text" name="num">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="button is-small is-fullwidth is-primary" type="submit" name="" value="Continue">
    </div>
  <div>
</form>
