<div class="container">
  <header><img src="https://images-na.ssl-images-amazon.com/images/I/517JH27dI5L.jpg" class="img-responsive main-image" alt="recipe box photo"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Recipe Box!</h2>

    <div class="content">
      <p>Welcome to Recipe Box!</p>
    </div>

    <div class="sidebar">
      <h3>Sign Up or Log In</h3>
      <ul>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Log In</a></li>
      </ul>
    </div>

  </div>
</div>
